<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact Ruby on Rails Tutorial about the myapp at the
	The <a href="http://railstutorial.org/contact">contact page</a>
	Das ist die Page, wo die Kontacten mussen sind.
</p>